@import "./Base/reset";
@import "./Utils/variables";
@import "./Base/fonts";
@import "./Base/mixins";
@import "./Layout/header";
@import "./Layout/footer";

body{
    max-width: 500px;
    margin-left: auto; /* Elements centrage page*/
    margin-right: auto; /* Elements centrage page*/
    width: 100%; /* Elements centrage page*/

    a {
        text-decoration: none;
        color: black;
    }
    h1{
        font-weight: bold;
        font-size: 1.70em;
    }
}

.lds-dual-ring {
    display: inline-block;
    position: absolute;
    z-index: 0;
    top: 50%; /* Elements centrage animation*/
    left: 50%; /* Elements centrage animation*/
    transform: translate(-50%, -50%); /* Elements centrage animation*/
  }
  
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-radius: 50%;
    border: 8px solid #cef;
    border-color: $colour-secondary transparent $colour-secondary transparent;
    animation: lds-dual-ring 5s ease-in-out -.5s forwards;
    opacity: 0;
  }

  @keyframes lds-dual-ring {
    0% {
        width: 300px;
        height: 300px;
        transform: rotate(0deg);
        opacity: .1;
    }

    50%{
        opacity: 1;
    }

    80%{
        width: 300px;
        height: 300px;
        opacity: .1;
    }

    100% { 
        transform: rotate(360deg);
        opacity: 0;
    }
  }

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
    background-color:darken($colour-neutral, 5%);
    box-shadow: 0px 8px 9px -5px lightgrey inset;
    
    p{
        font-weight: 500;
    }

    i{
        margin-right: 1.25em;
    }
}

.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20% auto 20% auto;
    background-color: $colour-neutral;
    z-index: 1;
    .explore-title{
        margin: 10% auto 2% auto;
        width: 100%;
    }
    
    .explore-text{
        font-size: 1.15em;
        width: 100%;
    }
    
    .explore-btn{
        width: 55%;
        padding: 4%;
        margin: 10% auto 10% auto;
        border-radius: 35px;
        color: $colour-classic;
        font-weight: 500;
        background: $colour-degrade;
        box-shadow: 2px 2px 15px grey;
        &:hover{
            box-shadow: 3px 3px 20px rgb(79, 79, 79);
            transition: 500ms;
        }
    }

}

.explore-btn--order{
    width: 100%;
}

.grid-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $colour-classic;
    padding-bottom: 10%;
    h1{
        width: 90%;
        margin: 8% 3% 3%;
    }

    .step-selection{
        display: flex;
        align-items: center;
        background-color: $colour-neutral;
        height: 80px;
        width: 85%;
        border-radius: 25px;
        box-shadow: $card-shadow;
        margin: 3%;
    
        p{
            position: relative;
            font-weight: bolder;
            top: 50%;
            bottom: 50%;
        }
    
        &:hover{
            background-color: lighten($colour-primary, 38%);
            box-shadow: $card-shadow;
            transition: all 500ms;
    
            i{
                color: $colour-primary;
            }
        }
    
    }
    
    .step-numbers{
        display: flex;
        justify-content: center;
        position: relative;
        left: -1em;
        background-color: $colour-primary;
        border-radius: $circle;
        color: $colour-classic;
        width: 30px;
        height: 30px;
        overflow:visible;
        
        p{
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            height: 1em;
        }
    
    }
    
    .step-text{
        display: flex;
        align-items: center;
        font-size: larger;
        width: 100%;
        i{
            margin-right: 1.25em;
        }
    }

}

.grid-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $colour-neutral;
    padding-bottom: 15%;
    h1{
        width: 90%;
        margin: 10% 3% 3%;
    }

    .cards {
        display: flex;
        position: relative;
        flex-direction: column;
        max-width: 90%;
        max-height: $card-size;
        border-radius: 15px;
        box-shadow: $card-shadow;
        background-color: $colour-classic; 
        margin: 3%;
    }
            
    .card-btn-new{
        position: absolute;
        padding: 2%;
        top: 15px;
        right: 15px;
        font-weight: bold;
        text-align: center;
        background-color: $colour-new-tag;
        color: darken($colour-new-tag, 40%);
    }
    
    .card-btn-new--disable{
        display: none;
    }
    
    .card-image{
        height: 200px;
        overflow: hidden;
        
        img{
            max-width : 100%;
            height : auto;
            border-radius: 15px 15px 0px 0px;
            object-fit:cover;
         
        }
    }
    
    .card-body{
        display: flex;
        align-items: center;
        height: 50%;
        justify-content: space-between;
        padding: 5%;
        position: relative;
    
    }
    
    .card-text{
    
        h4{
            font-weight: bold;
            margin-bottom: 2%;
        }
    
    }

}



.card-icon{
    position: relative;
    font-size: 1.75em;
    transform: translate(-30px, -15px);
    .heart__on{
        position: absolute;
        background: $colour-degrade;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        &:hover{
            opacity: 1;
            transition: 500ms;
        }
    }

    .heart__off{
        position: absolute;
    }
}

.card-icon--menu{
    font-size: 1.2em;
    transform: translate(-40px, 0px);
}


.grid-menu{
    display: flex;
    position: relative;
    top: -40px;
    flex-direction: column;
    border-radius: 30px 30px 0px 0px;
    background-color: $colour-neutral;
    
    
    .title-menu{
        display: flex;
        justify-content: space-between;
        margin: 6%;
        font-size: 1.05em;
        
        h1{
            font-family: 'Shrikhand', cursive;
            font-weight: lighter;
        }

        i{
            font-size: 1.75em;
        }
    }  
}

.set-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;

    .set-menu__title{
        margin-left: 6%;
        
        h3{
            text-transform: uppercase;
            margin-bottom: 1%;
        }

        hr{
            border-top: 3px solid $colour-tertiary;
            width: 8%;
            
        }
    }

}


.card-menu{
    display: inline-flex;
    align-self: center;
    justify-content: space-between;
    background-color: $colour-classic;
    box-shadow: $card-shadow;
    border-radius: 15px;
    width: 90%;
    margin: 2%;
    
    content: " ";
    animation: bottom-to-top 2s ease-in-out forwards;
    animation-delay: -1;
    opacity: 0;
    overflow: hidden;

    @keyframes bottom-to-top {
        from{ margin-top: 20px;}
    
        to{ opacity: 1;}
    }
}   

.card-menu__body{
    min-width: 100%;
    padding: 2%;
    content: " ";

    .card-menu__body--title{
        font-size: 1.1em;
        margin: 1%;
        h4{
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .card-menu__body--text{
        display: flex;
        justify-content: space-between;
        width: 100%;

        h5{
            font-weight: bold;
        }

        p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 70%;
            margin: 1%;
        }
    }
    
    &:hover{
    transition: min-width(85%) 5s;
    animation: slide-in 450ms ease-in-out forwards;
    
        @keyframes slide-in {
            0% { 
                min-width: 100%;
            }

            100% { 
                min-width: 85%; 
            }
        }
    }
}

.card-menu__animation{
    content: " ";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.50em;
    background-color: $colour-tertiary;
    color: $colour-classic;
    border-radius: 0px 15px 15px 0px;
    padding: 4%;
    width: 20%;
}

.card-menu:hover i{
    animation: rota360 450ms linear forwards;
    transform: rotate(-360deg);
        
    @keyframes rota360 {
        0% { 
            transform: rotate(-360deg);   
        }
        100% { 
            transform: rotate(0deg); 
        }
    }
    
}