html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4%;
  z-index: 1;
}

header i {
  font-size: 1.75em;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 45%;
}

.image-top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.image-top img {
  width: 100%;
}

.footer-nav {
  background-color: #353535;
  color: white;
  padding: 1em;
}

.footer-nav h3 {
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
  margin-bottom: 2%;
}

.footer-nav a {
  color: white;
}

.footer-nav li {
  margin-bottom: 2%;
}

.footer-nav i {
  width: 8%;
}

body {
  max-width: 500px;
  margin-left: auto;
  /* Elements centrage page*/
  margin-right: auto;
  /* Elements centrage page*/
  width: 100%;
  /* Elements centrage page*/
}

body a {
  text-decoration: none;
  color: black;
}

body h1 {
  font-weight: bold;
  font-size: 1.70em;
}

.lds-dual-ring {
  display: inline-block;
  position: absolute;
  z-index: 0;
  top: 50%;
  /* Elements centrage animation*/
  left: 50%;
  /* Elements centrage animation*/
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* Elements centrage animation*/
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 0px;
  height: 0px;
  margin: 0px;
  border-radius: 50%;
  border: 8px solid #cef;
  border-color: #FF79DA transparent #FF79DA transparent;
  -webkit-animation: lds-dual-ring 5s ease-in-out -.5s forwards;
          animation: lds-dual-ring 5s ease-in-out -.5s forwards;
  opacity: 0;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: .1;
  }
  50% {
    opacity: 1;
  }
  80% {
    width: 300px;
    height: 300px;
    opacity: .1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes lds-dual-ring {
  0% {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: .1;
  }
  50% {
    opacity: 1;
  }
  80% {
    width: 300px;
    height: 300px;
    opacity: .1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  width: 100%;
  background-color: #e9e9e9;
  -webkit-box-shadow: 0px 8px 9px -5px lightgrey inset;
          box-shadow: 0px 8px 9px -5px lightgrey inset;
}

.location p {
  font-weight: 500;
}

.location i {
  margin-right: 1.25em;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20% auto 20% auto;
  background-color: #f6f6f6;
  z-index: 1;
}

.explore .explore-title {
  margin: 10% auto 2% auto;
  width: 100%;
}

.explore .explore-text {
  font-size: 1.15em;
  width: 100%;
}

.explore .explore-btn {
  width: 55%;
  padding: 4%;
  margin: 10% auto 10% auto;
  border-radius: 35px;
  color: white;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356CD));
  background: linear-gradient(to bottom right, #FF79DA, #9356CD);
  -webkit-box-shadow: 2px 2px 15px grey;
          box-shadow: 2px 2px 15px grey;
}

.explore .explore-btn:hover {
  -webkit-box-shadow: 3px 3px 20px #4f4f4f;
          box-shadow: 3px 3px 20px #4f4f4f;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.explore-btn--order {
  width: 100%;
}

.grid-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding-bottom: 10%;
}

.grid-selection h1 {
  width: 90%;
  margin: 8% 3% 3%;
}

.grid-selection .step-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  height: 80px;
  width: 85%;
  border-radius: 25px;
  -webkit-box-shadow: lightgray 3px 4px 20px;
          box-shadow: lightgray 3px 4px 20px;
  margin: 3%;
}

.grid-selection .step-selection p {
  position: relative;
  font-weight: bolder;
  top: 50%;
  bottom: 50%;
}

.grid-selection .step-selection:hover {
  background-color: #f3ecf9;
  -webkit-box-shadow: lightgray 3px 4px 20px;
          box-shadow: lightgray 3px 4px 20px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.grid-selection .step-selection:hover i {
  color: #9356CD;
}

.grid-selection .step-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: -1em;
  background-color: #9356CD;
  border-radius: 45px;
  color: white;
  width: 30px;
  height: 30px;
  overflow: visible;
}

.grid-selection .step-numbers p {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  height: 1em;
}

.grid-selection .step-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: larger;
  width: 100%;
}

.grid-selection .step-text i {
  margin-right: 1.25em;
}

.grid-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f6f6f6;
  padding-bottom: 15%;
}

.grid-cards h1 {
  width: 90%;
  margin: 10% 3% 3%;
}

.grid-cards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90%;
  max-height: 350px;
  border-radius: 15px;
  -webkit-box-shadow: lightgray 3px 4px 20px;
          box-shadow: lightgray 3px 4px 20px;
  background-color: white;
  margin: 3%;
}

.grid-cards .card-btn-new {
  position: absolute;
  padding: 2%;
  top: 15px;
  right: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #99E2D0;
  color: #278870;
}

.grid-cards .card-btn-new--disable {
  display: none;
}

.grid-cards .card-image {
  height: 200px;
  overflow: hidden;
}

.grid-cards .card-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-cards .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5%;
  position: relative;
}

.grid-cards .card-text h4 {
  font-weight: bold;
  margin-bottom: 2%;
}

.card-icon {
  position: relative;
  font-size: 1.75em;
  -webkit-transform: translate(-30px, -15px);
          transform: translate(-30px, -15px);
}

.card-icon .heart__on {
  position: absolute;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356CD));
  background: linear-gradient(to bottom right, #FF79DA, #9356CD);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.card-icon .heart__on:hover {
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.card-icon .heart__off {
  position: absolute;
}

.card-icon--menu {
  font-size: 1.2em;
  -webkit-transform: translate(-40px, 0px);
          transform: translate(-40px, 0px);
}

.grid-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px 30px 0px 0px;
  background-color: #f6f6f6;
}

.grid-menu .title-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6%;
  font-size: 1.05em;
}

.grid-menu .title-menu h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
}

.grid-menu .title-menu i {
  font-size: 1.75em;
}

.set-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
}

.set-menu .set-menu__title {
  margin-left: 6%;
}

.set-menu .set-menu__title h3 {
  text-transform: uppercase;
  margin-bottom: 1%;
}

.set-menu .set-menu__title hr {
  border-top: 3px solid #00E2D0;
  width: 8%;
}

.card-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-shadow: lightgray 3px 4px 20px;
          box-shadow: lightgray 3px 4px 20px;
  border-radius: 15px;
  width: 90%;
  margin: 2%;
  content: " ";
  -webkit-animation: bottom-to-top 2s ease-in-out forwards;
          animation: bottom-to-top 2s ease-in-out forwards;
  opacity: 0;
  overflow: hidden;
}

@-webkit-keyframes bottom-to-top {
  from {
    margin-top: 20px;
  }
  to {
    opacity: 1;
  }
}

@keyframes bottom-to-top {
  from {
    margin-top: 20px;
  }
  to {
    opacity: 1;
  }
}

.card-menu__1 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.card-menu__2 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.card-menu__body {
  min-width: 100%;
  padding: 2%;
  content: " ";
}

.card-menu__body .card-menu__body--title {
  font-size: 1.1em;
  margin: 1%;
}

.card-menu__body .card-menu__body--title h4 {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-menu__body .card-menu__body--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.card-menu__body .card-menu__body--text h5 {
  font-weight: bold;
}

.card-menu__body .card-menu__body--text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  margin: 1%;
}

.card-menu__body:hover {
  -webkit-transition: min-width(85%) 5s;
  transition: min-width(85%) 5s;
  -webkit-animation: slide-in 450ms ease-in-out forwards;
          animation: slide-in 450ms ease-in-out forwards;
}

@-webkit-keyframes slide-in {
  0% {
    min-width: 100%;
  }
  100% {
    min-width: 85%;
  }
}

@keyframes slide-in {
  0% {
    min-width: 100%;
  }
  100% {
    min-width: 85%;
  }
}

.card-menu__animation {
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.50em;
  background-color: #00E2D0;
  color: white;
  border-radius: 0px 15px 15px 0px;
  padding: 4%;
  width: 20%;
}

.card-menu:hover i {
  -webkit-animation: rota360 450ms linear forwards;
          animation: rota360 450ms linear forwards;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

@-webkit-keyframes rota360 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rota360 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */