header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;
    z-index: 1;
    i{
        font-size: 1.75em;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img{
    width: 45%;
    }
}

.image-top{
    box-sizing: border-box;
   
    img{
        
        width: 100%;
    }
}
