$colour-primary: #9356CD;
$colour-secondary: #FF79DA;
$colour-tertiary: #00E2D0;
$colour-neutral: #f6f6f6;
$colour-classic: white;
$colour-invalid: #DB464B;

$circle: 45px;

$card-size: 350px;
$image-size: 100%;
$image-height: 100%;
